*.*~
*.bak
modelsim.ini
work/
greybox_tmp/
.qsys_edit/
syn/quartus/db/
syn/quartus/output_files/
syn/quartus/incremental_db/
syn/quartus/*.log
syn/quartus/*.rpt
tb/scripts/__pycache__/
tb/static/questa_static_*/
tb/static/**/qverify_db/
tb/static/**/runtime_libs/
tb/static/**/work/
tb/static/**/modelsim.ini
tb/uvm/work_*/
tb/uvm/cov_*/
tb/uvm/logs/full_random_runner/
